{% extends 'base.html.twig' %}

{% block title %}Ajouter Event{% endblock %}
{% block content %}
<section id="container">
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Gérer les évenements</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            </div>
            <!-- /row -->
        </section>
    </section>
    {% endblock %}
